<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <!-- About Section -->
      <div class="footer-section about">
        <h3>About Our Job Portal</h3>
        <p>I am a backend developer with expertise in Node.js. I have experience in building scalable, secure, and reliable web applications using various frameworks and technologies. I enjoy solving complex problems and learning new skills. I am passionate about creating high-quality code that follows best practices and industry standards. I am always looking for new challenges and opportunities to grow as a developer.</p>
      </div>
      <!-- Quick Links Section -->
      <div class="footer-section links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="/Home">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <!-- Contact Form Section -->
      <div class="footer-section contact-form">
        <h3>Contact Us</h3>
        <p>Have questions or need assistance? Reach out to us through our contact page for support.</p>
        <br><br>
        <a href="/contact" class="contact-button">Contact Page</a>
      </div>
      <!-- Social Links Section -->
      <div class="footer-section social-links">
        <h3>Connect With Us</h3>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <!-- Footer Bottom Section -->
    <div class="footer-bottom">
      <p>&copy; 2024 AdemolaPortforlio. All rights reserved.</p>
    </div>
  </div>
</footer>
