<form (ngSubmit)="onSubmit()" [formGroup]="jobApplicationForm" class="job-application-form">
  <!-- Personal Details -->
  <div class="form-section">
    <h2>Personal Details</h2>
    <label for="Name">First Name:</label>
    <input type="text" formControlName="Name" id="Name">
    <div *ngIf="jobApplicationForm.get('Name')?.invalid && (jobApplicationForm.get('Name')?.dirty || jobApplicationForm.get('Name')?.touched)" class="error-message">Name is required.</div>

    <label for="Email">Email:</label>
    <input type="Email" formControlName="Email" id="Email">
    <div *ngIf="jobApplicationForm.get('Email')?.invalid && (jobApplicationForm.get('Email')?.dirty || jobApplicationForm.get('Email')?.touched)" class="error-message">A valid Email is required.</div>
    
    <label for="contactInfo">contactInfo:</label>
    <input type="text" formControlName="contactInfo" id="contactInfo">
    <div *ngIf="jobApplicationForm.get('contactInfo')?.invalid && (jobApplicationForm.get('contactInfo')?.dirty || jobApplicationForm.get('JobTitle')?.touched)" class="error-message">ContactInfo is required.</div>

    <label for="JobTitle">JobTitle:</label>
    <input type="text" formControlName="JobTitle" id="JobTitle">
    <div *ngIf="jobApplicationForm.get('JobTitle')?.invalid && (jobApplicationForm.get('JobTitle')?.dirty || jobApplicationForm.get('JobTitle')?.touched)" class="error-message">ContactInfo is required.</div>

  </div>

  <!-- Employment History -->
  <div class="form-section" formArrayName="employmentHistory">
    <h2>Employment History</h2>
    <div *ngFor="let employment of employmentHistory.controls; let i = index" [formGroupName]="i" class="form-subsection">
      <label for="CompanyName">Company Name:</label>
      <input type="text" formControlName="CompanyName">
      <div *ngIf="employment.get('CompanyName')?.invalid && (employment.get('CompanyName')?.dirty || employment.get('CompanyName')?.touched)" class="error-message">Company Name is required.</div>
  
      <label for="JobTitle">Job Title:</label>
      <input type="text" formControlName="JobTitle">
      <div *ngIf="employment.get('JobTitle')?.invalid && (employment.get('JobTitle')?.dirty || employment.get('JobTitle')?.touched)" class="error-message">Job Title is required.</div>
  
      <label for="Responsibilities">Responsibilities:</label>
      <textarea formControlName="Responsibilities"></textarea>
      <div *ngIf="employment.get('Responsibilities')?.invalid && (employment.get('Responsibilities')?.dirty || employment.get('Responsibilities')?.touched)" class="error-message">Responsibilities are required.</div>
  
      <label for="ReasonForLeaving">Reason for Leaving:</label>
      <textarea formControlName="ReasonForLeaving"></textarea>
      <button type="button" (click)="removeEmploymentHistory(i)" class="remove-btn">Remove</button>
    </div>
    <button type="button" (click)="addEmploymentHistory()">Add Employment</button>
  </div>
  

  <!-- Education History -->
  <div class="form-section" formArrayName="educationHistory">
    <h2>Education History</h2>
    <div *ngFor="let education of educationHistory.controls; let i = index" [formGroupName]="i" class="form-subsection">
      <label for="Institution">Institution:</label>
      <input type="text" formControlName="Institution">
      <div *ngIf="education.get('Institution')?.invalid && (education.get('Institution')?.dirty || education.get('Institution')?.touched)" class="error-message">Institution is required.</div>
  
      <label for="Degree">Certification:</label>
      <input type="text" formControlName="Degree">
      <div *ngIf="education.get('Degree')?.invalid && (education.get('Degree')?.dirty || education.get('Degree')?.touched)" class="error-message">Degree is required.</div>
  
      <label for="FieldOfStudy">Field of Study:</label>
      <input type="text" formControlName="FieldOfStudy">
      <div *ngIf="education.get('FieldOfStudy')?.invalid && (education.get('FieldOfStudy')?.dirty || education.get('FieldOfStudy')?.touched)" class="error-message">Field of Study is required.</div>
      <button type="button" (click)="removeEducationHistory(i)" class="remove-btn">Remove</button>
    </div>
    <button type="button" (click)="addEducationHistory()">Add Education</button>
  </div>
  
  <!-- Skills -->
  <div class="form-section" formArrayName="skills">
    <h2>Skills</h2>
    <div *ngFor="let skill of skills.controls; let i = index" class="form-subsection">
      <input type="text" [formControlName]="i">
      <div *ngIf="skills.at(i).invalid && (skills.at(i).dirty || skills.at(i).touched)" class="error-message">Skill is required.</div>
      <button type="button" (click)="removeSkill(i)">Remove</button>
    </div>
    <button type="button" (click)="addSkill()">Add Skill</button>
  </div>

  <!-- Resume Upload within the form -->
  <div class="form-section">
    <h2>Resume/CV Upload</h2>
    <input type="file" (change)="onFileSelected($event)" id="ResumePath" accept=".pdf,.doc,.docx" formControlName="ResumePath" >
    <label for="resumeUpload" class="upload-label">Choose file...</label>
    <div *ngIf="fileName" class="file-name">{{ fileName }}</div>
    <div *ngIf="fileError" class="error-message">{{ fileError }}</div>
  </div>


  <!-- Submit Button -->
  <button type="submit" class="submit-btn" (click)="applyJob()">Submit</button>
</form>
